.contactos-container{
    display: flex;
    flex-direction: column;
    background-color: black;
    border-end-end-radius: 10px;
    width: 500px;
    height: 70vh; 
    overflow: auto;
}

.div-chats{
    display: flex;
    align-items: center;
    height: 105px;
    color: white;
    padding: 15px;
    background-color:  #202C33;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.contacto-container{
    padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.nombre-contacto{
    display: flex;
    flex-direction: column;
}


.div-foto{
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.imagen{
    width: 100%;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: white;
    text-decoration: none;
}

.ultima-conexion {
    font-size: 0.9em;
    color: grey;
}